@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', serif;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #F6F6F6;
  text-align: center;
}

.header {
  overflow: hidden;
  background-color: #F3BD54;
  height:55px;
  padding:5px;
	position: sticky;
  font-family: 'Open Sans', serif;
  color: white;
  text-align: center;
}

.header-right {
  float: right;
  width: 9%;
  padding-top: 10px;
  text-align: right;
  margin-right: 15px;
}

.header-left {
  float: left;
  width: 9%;
  padding-top: 10px;
  text-align: left;
  margin-left: 15px;
}

hr {
	border-width: 1px;
	border-color: #F3BD54;
	display: block;
	border-style:solid;
	margin-top: 0;
}



input[type=text]{
  background-color: #F6F6F6;
  width:70%;
  padding: 5px;
  outline: 0;
  height: 25px;
  display: inline-block;
  border-width: 0 0 2px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

label {
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  font-weight:600;
  letter-spacing:1px;
  color: #F3BD54;
  text-align: left;
  display: inline-block;
}
/* main title headler */
h1 {
	position:absolute;
	left:50%;
	transform: translate(-50%, 12%);
	font-size:18px;
	font-family: 'Open Sans', sans-serif;
	color: white;
	font-weight: 600;
  letter-spacing: 1px;
}

h4 {
  font-size:14px;
  margin-left:20px;
  font-family: 'Roboto', sans-serif;
  color: #F3BD54;
  font-weight:600;
  float:left;
}

h5 {
  background-color: #F3BD54;
  color: #FFFF;
  text-align: center;
  padding: 3px;
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
  font-size:12px;
  font-weight:580;
  letter-spacing:1px;
}

p.detail {
  font-size:11px;
	display: inline-block;
	text-align: left;
	padding-left: 5px;
	word-wrap: break-word;
	width: 150px;
}

#yellowbutton {
  background-color: #F3BD54;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 90%;
  text-align: center;
  border-radius: 5px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight:580;
  letter-spacing: 1px;
}

/* Add padding to containers */
.container {
  padding: 16px;
	margin: auto;
	width: 90%;
	max-width: 500px;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
}
.container input[type=text] {
  width: 90%;
  padding-left: 12px;
  padding-right: 12px;
  padding-top:25px;
  padding-bottom:15px;
  display: inline-block;
  border-width: 0 0 2px;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	background: #FFFF;
}
/* Full-width inputs */
input[type=location], input[type=password], input[type=date], input[type=reward], input[type=email], input[type=phone],
input[type=number]{
  width: 90%;
  padding-left: 12px;
  padding-right: 12px;
  padding-top:15px;
  padding-bottom:10px;
  display: inline-block;
  border-width: 0 0 2px;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	background: #FFFF;
}

.container input[type=desc]{
  width: 90%;
  padding: 12px 20px;
	padding-bottom: 40px;
  margin-top: 15px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
	overflow: auto;
	}
