@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', serif;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #F6F6F6;
  text-align: center;
}

.header {
  overflow: hidden;
  background-color: #F3BD54;
  height:55px;
	position: sticky;
}
